laranotifs74/app/SoapEndPoints/zdk.ws.wSessions.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://tempuri.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
            <s:element name="Login">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pstrUserName" type="s:string"/>
                        <s:element minOccurs="0" name="pstrPassword" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LoginResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="LoginResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Logout">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pstrSessionKey" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LogoutResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="LogoutResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="LoginSoapIn">
        <part name="parameters" element="s0:Login"/>
    </message>
    <message name="LoginSoapOut">
        <part name="parameters" element="s0:LoginResponse"/>
    </message>
    <message name="LogoutSoapIn">
        <part name="parameters" element="s0:Logout"/>
    </message>
    <message name="LogoutSoapOut">
        <part name="parameters" element="s0:LogoutResponse"/>
    </message>
    <portType name="wSessionsSoap">
        <operation name="Login">
            <input message="s0:LoginSoapIn"/>
            <output message="s0:LoginSoapOut"/>
        </operation>
        <operation name="Logout">
            <input message="s0:LogoutSoapIn"/>
            <output message="s0:LogoutSoapOut"/>
        </operation>
    </portType>
    <binding name="wSessionsSoap" type="s0:wSessionsSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="Login">
            <soap:operation soapAction="http://tempuri.org/zdk.ws.wSessions.Login" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Logout">
            <soap:operation soapAction="http://tempuri.org/zdk.ws.wSessions.Logout" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="wSessions">
        <port name="wSessionsSoap" binding="s0:wSessionsSoap">
            <soap:address location="http://172.16.2.221/csp/acb/zdk.ws.wSessions.cls"/>
        </port>
    </service>
</definitions>